@charset "UTF-8";
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.speakers__container, .program__container, .about__container, .header__container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media (max-width: 767px) {
  .speakers__container, .program__container, .about__container, .header__container {
    max-width: 480px;
  }
}
@media (min-width: 768px) {
  .speakers__container, .program__container, .about__container, .header__container {
    width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media (min-width: 1200px) {
  .speakers__container, .program__container, .about__container, .header__container {
    width: 1200px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #E5E2E3;
  color: #3C322D;
}

.btn {
  width: 145px;
  height: 40px;
  text-decoration: none;
  font-family: inherit;
  cursor: pointer;
  border: 0px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background-color: #F3848C;
  border-radius: 25px;
  -webkit-box-shadow: 10px 15px 25px rgba(232, 183, 183, 0.45);
          box-shadow: 10px 15px 25px rgba(232, 183, 183, 0.45);
}
.btn:focus, .btn:hover {
  border: 1px solid #F3848C;
  background-color: #FFFFFF;
  color: #F3848C;
}
.btn:active {
  -webkit-box-shadow: inset 0px 4px 4px rgba(107, 66, 66, 0.25), 10px 15px 25px rgba(232, 183, 183, 0.45);
          box-shadow: inset 0px 4px 4px rgba(107, 66, 66, 0.25), 10px 15px 25px rgba(232, 183, 183, 0.45);
  color: #FFFFFF;
  background-color: #F3848C;
  border: 1px solid #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list, ul {
  list-style: none;
  margin: 0px;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.header {
  padding-top: 16px;
  padding-bottom: 8px;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 1200px) {
  .header {
    padding-top: 36px;
    padding-bottom: 90px;
    background-image: url(../images/hero/img-1-d@1x.jpg);
    background-size: contain;
  }
}
@media (min-width: 1200px) and (min-device-pixed-ratio: 2), (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/hero/img-1-d@2x.jpg);
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header {
    padding-top: 24px;
    padding-bottom: 43px;
    background-image: url(../images/hero/img-1-t@1x.jpg);
    background-size: contain;
  }
}
@media (min-width: 768px) and (max-width: 1199px) and (min-device-pixed-ratio: 2), (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/hero/img-1-t@2x.jpg);
  }
}
@media (max-width: 767px) {
  .header {
    background-image: url(../images/hero/img-1-m@1x.jpg);
    background-size: cover;
  }
}
@media (max-width: 767px) and (min-device-pixed-ratio: 2), (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 767px) and (min-resolution: 192dpi), (max-width: 767px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/hero/img-1-m@2x.jpg);
  }
}

.header__container {
  position: relative;
}

@media screen and (min-width: 1200px) {
  .header__nav {
    margin-bottom: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 55px;
  }
}

.header__logo {
  width: 108px;
  height: 50px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-bottom: 27px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    width: 158px;
    height: 70px;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__menu {
  position: absolute;
  right: 20px;
  text-decoration: none;
  font-family: inherit;
  cursor: pointer;
  border: 0px;
  background-color: transparent;
}
@media screen and (min-width: 1200px) {
  .header__menu {
    display: none;
  }
}

.header__title {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.2142857143;
  text-align: center;
  letter-spacing: -0.03em;
}
@media screen and (min-width: 768px) {
  .header__title {
    width: 320px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.2333333333;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .header__title {
    width: 757px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 60px;
    line-height: 1.0833333333;
    text-align: left;
  }
}

.header__subtitle {
  margin-bottom: 28px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .header__subtitle {
    text-align: left;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header__subtitle {
    margin-bottom: 28px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2083333333;
    text-align: left;
  }
}

.header__btn {
  margin-bottom: 28px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__btn {
    margin: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1199px) {
  .nav {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2222222222;
    text-align: center;
  }
}

.nav__item--accent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 97px;
  height: 30px;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(248, 110, 103, 0.63)), to(rgba(253, 86, 143, 0.86)));
  background: linear-gradient(180deg, rgba(248, 110, 103, 0.63) 0%, rgba(253, 86, 143, 0.86) 100%);
  -webkit-box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
          box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
}

.mobile-menu__container.is-open {
  width: 100%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobile-menu__container.is-open body {
  position: fixed;
}

.mobile-menu__container {
  padding: 16px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #E5E2E3;
  z-index: 999;
  overflow-y: scroll;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.header__logo-menu {
  margin-bottom: 46px;
}

.mobile-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu__item {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2142857143;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .mobile-menu__item {
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.225;
    text-align: center;
  }
}

.mobile-menu__item--accent {
  padding: 10px 28px;
  width: 174px;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(248, 110, 103, 0.63)), to(rgba(253, 86, 143, 0.86)));
  background: linear-gradient(180deg, rgba(248, 110, 103, 0.63) 0%, rgba(253, 86, 143, 0.86) 100%);
  -webkit-box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
          box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
}
@media (min-width: 768px) {
  .mobile-menu__item--accent {
    width: 225px;
  }
}

.header__close {
  position: absolute;
  right: 20px;
  top: 16px;
  text-decoration: none;
  font-family: inherit;
  cursor: pointer;
  border: 0px;
  background-color: transparent;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .socials__list {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.socials__item:hover, .socials__item:active {
  color: #F3848C;
}

.socials__icon {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .about {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 31px;
    padding-bottom: 29px;
  }
}

@media screen and (min-width: 768px) {
  .about__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 31px;
  }
}

@media screen and (max-width: 767px) {
  .about__img {
    margin-bottom: 28px;
    border-radius: 36px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about__img {
    min-width: 336px;
    border-radius: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .about__img {
    min-width: 608px;
    border-radius: 24px;
  }
}

.about__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2083333333;
  text-align: center;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .about__title {
    margin-bottom: 28px;
    font-weight: 500;
    font-size: 33px;
    line-height: 1.1818181818;
    text-align: left;
  }
}

.about__text {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .about__text {
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 768px) {
  .about__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2222222222;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .program {
    padding-top: 10px;
    padding-bottom: 1px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .program {
    padding-top: 26px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .program {
    padding-top: 70px;
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .program__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .program__wrapper {
    padding-top: 60px;
    max-width: 416px;
  }
}

@media screen and (max-width: 767px) {
  .program__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2083333333;
    text-align: center;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 768px) {
  .program__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.21875;
    text-align: left;
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .program__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.21875;
    text-align: left;
    margin-bottom: 24px;
  }
}

.program__text {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .program__text {
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .program__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2222222222;
    text-align: left;
    margin-bottom: 20px;
  }
}

.program__list {
  margin-bottom: 16px;
}

.program__item {
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.program__item::before {
  display: block;
  content: " ";
  background-image: url("../images/svg/original/Іко.svg");
  background-size: 28px 28px;
  height: 28px;
  min-width: 28px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .program__item {
    margin-bottom: 12px;
    min-width: 336px;
  }
}
@media screen and (min-width: 1200px) {
  .program__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2222222222;
    text-align: left;
    margin-bottom: 16px;
    gap: 16px;
  }
}

.program__type-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .program__type-list {
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
}

.program__type-item {
  position: relative;
}
@media screen and (max-width: 767px) {
  .program__type-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .program__type-item:nth-child(2n) {
    padding-top: 20px;
  }
  .program__type-item:nth-child(2n) .program__type-wrapper {
    top: 70%;
    -webkit-transform: translate(-49%, -50%);
            transform: translate(-49%, -50%);
  }
}
@media screen and (min-width: 768px) {
  .program__type-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .program__type-item:nth-child(2n) {
    padding-top: 45px;
  }
  .program__type-item:nth-child(2n) .program__type-wrapper {
    top: 72%;
    -webkit-transform: translate(-49%, -50%);
            transform: translate(-49%, -50%);
  }
}
@media screen and (min-width: 1200px) {
  .program__type-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .program__type-item:nth-child(2n) {
    padding-top: 60px;
    height: 365px;
  }
  .program__type-item:nth-child(2n) .program__type-wrapper {
    top: 76%;
    -webkit-transform: translate(-45%, -50%);
            transform: translate(-45%, -50%);
  }
}

.program__picture {
  min-width: 100%;
}
@media screen and (min-width: 1200px) {
  .program__picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.program__type-wrapper {
  position: absolute;
}
@media screen and (max-width: 767px) {
  .program__type-wrapper {
    top: 54%;
    left: 50%;
    -webkit-transform: translate(-53%, -50%);
            transform: translate(-53%, -50%);
  }
}
@media screen and (min-width: 768px) {
  .program__type-wrapper {
    top: 46%;
    left: 50%;
    -webkit-transform: translate(-53%, -50%);
            transform: translate(-53%, -50%);
  }
}
@media screen and (min-width: 1200px) {
  .program__type-wrapper {
    top: 60%;
    left: 55%;
    -webkit-transform: translate(-54%, -50%);
            transform: translate(-54%, -50%);
  }
}

.program__type-title {
  min-width: 124px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .program__type-title {
    min-width: 145px;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.8666666667;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .program__type-title {
    min-width: 226px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2083333333;
    text-align: center;
  }
}

.program__type-text {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.2727272727;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .program__type-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.2307692308;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .program__type-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .speakers {
    padding-top: 40px;
    padding-bottom: 33px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .speakers {
    padding-top: 44px;
    padding-bottom: 77px;
  }
}
@media screen and (min-width: 1200px) {
  .speakers {
    padding-top: 60px;
    padding-bottom: 100px;
  }
}

.speakers__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2083333333;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .speakers__title {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .speakers__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.21875;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .speakers__title {
    margin-bottom: 40px;
  }
}

.speakers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .speakers__list {
    gap: 32px;
  }
}

.speakers__item {
  -ms-flex-preferred-size: calc((100% - 20px) / 2);
      flex-basis: calc((100% - 20px) / 2);
}
@media screen and (min-width: 768px) {
  .speakers__item {
    -ms-flex-preferred-size: calc((100% - 96px) / 4);
        flex-basis: calc((100% - 96px) / 4);
  }
}

.speakers__img {
  width: 100%;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .speakers__img {
    margin-bottom: 20px;
  }
}

.speakers__subtitle {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .speakers__subtitle {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2222222222;
    text-align: center;
  }
}

.speakers__desc {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .speakers__desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2142857143;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .speakers__desc {
    margin-right: auto;
    margin-left: auto;
    max-width: 165px;
  }
}/*# sourceMappingURL=main.css.map */