.speakers {
	@media screen and (max-width:767px) {
		padding-top: 40px;
		padding-bottom: 33px;
	}
	@media screen and (min-width:768px) and (max-width:1199px) {
		padding-bottom: 77px;
	}
	@media screen and (min-width:1200px) {
		padding-top: 60px;
		padding-bottom: 100px;
	}
}
.speakers__container {
	@extend %container;

	@media screen and (max-width:767px) {
		background-image:url(../images/speakers/circles-m@1x.png); 
		@media(min-device-pixed-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution:2dppx){
			background-image:url(../images/speakers/circles-m@2x.png);
		}
		background-size: 65%;
		background-position: right top 40px;
		background-repeat: no-repeat;
	}
	@media screen and (min-width:768px) {
		padding-top: 44px;

		background-image:url(../images/speakers/circles-t@1x.png); 
		@media(min-device-pixed-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution:2dppx){
			background-image:url(../images/speakers/circles-t@2x.png);
		}
		background-size: 768px;
		background-position: center top;
		background-repeat: no-repeat;
	}

	@media screen and (min-width:1200px) {
		background-image:url(../images/speakers/circles-d@1x.png); 
		@media(min-device-pixed-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution:2dppx){
			background-image:url(../images/speakers/circles-d@2x.png);
		}
		background-size: 1140px;
		background-position: center top;
		background-repeat: no-repeat;
	}
}

.speakers__title {
	@include title;

	@media screen and (max-width:767px) {
		margin-bottom: 16px;	
	}
	@media screen and (min-width:768px){
		margin-bottom: 20px;

		@include title(500, 32px, 39px);
	}
	@media screen and (min-width:1200px) {
		margin-bottom: 40px;
	}
}

.speakers__list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;

	@media screen and (min-width:768px) {
		gap: 32px;
	}
}

.speakers__item {
	flex-basis: calc((100% - 20px)/2);

	@media screen and (min-width:768px) {
		flex-basis: calc((100% - 32px*3)/4);
	}
}

.speakers__img {
	width: 100%;
	margin-bottom: 12px;

	@media screen and (min-width:768px){
		margin-bottom: 20px;
	}

	@include scale;
}

.speakers__subtitle {
	margin-bottom: 12px;

	@include title(600, 16px, 20px);

	@media screen and (min-width:768px){
		margin-bottom: 20px;

		@include title(600, 18px, 22px);
	}
}

.speakers__desc {
	@include text(500, 12px, 15px);

	@media screen and (min-width:768px){
		@include text(500, 14px, 17px);
	}

	@media screen and (min-width: 1200px){
		margin-right: auto;
		margin-left: auto;
		max-width: 165px;
	}
}