@mixin title($font-weight: 500, $font-size: 24px, $line-height: 29px, $text-align: center){
	font-weight: $font-weight;
	font-size: $font-size;
	line-height: calc($line-height / $font-size);
	text-align: $text-align;
}

@mixin text($font-weight: 400, $font-size: 24px, $line-height: 29px, $text-align: center){
	font-weight: $font-weight;
	font-size: $font-size;
	line-height: calc($line-height / $font-size);
	text-align: $text-align;
}

@mixin hat{
	&::before{
		display: block;
		content: ' ';
		background-image: url('../images/svg/original/Іко.svg');
		background-size: 24px 24px;
		height: 24px;
		min-width: 24px;
	}
}

